extends layout 
 
block content
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
  - let id  = toShow._id 
  - let breed = toShow.breed 
  - let color = toShow.color  
  - let height  = toShow.height 
    - let actionid = "/resource/elephants/" + id 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='elephantAttr mr-3') Elephant ID is: 
        div #{id} 
      div.row 
        div(class='elephantAttr mr-3') Elephant breed is: 
        div #{breed} 
      div.row 
        div(class='elephantAttr mr-3') Elephant Color  is: 
        div #{color} 
      div.row 
        div(class='elephantAttr mr-3') Elephant height is: 
        div #{height}
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the costume collection 
      window.location.href='/elephants' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      
      }).then((resp) => { 
        return resp.text(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/elephants' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 
 