extends layout



block content

  h1= title

  p Welcome to the Elephant World

  div(class="container-fluid")

        div(class="row")

            -

                let piemagic = theElephant
                 each v,index in piemagic

                div(class="col-sm-2" onclick=`buy(${index})`) #{v.breed} - #{v.color} - #{v.height}

  script.                

        function buy(intemNo)

        {

              alert(`you purchased Item ${intemNo+1}`)

        }