extends layout 
 
block content 
  h1= title 
  if(to show == null)
      h2 no instance to view update
  else
  - let id  = toShow._id 
  - let breed = toShow.breed
  - let color = toShow.color  
  - let height  = toShow.height 
  div 
    div.row 
      div(class='elephantAttr mr-3') elephant ID is: 
      div #{id} 
    div.row 
      div(class='elephantAttr mr-3') elephant breed is: 
      div #{breed} 
    div.row 
      div(class='elephantAttr mr-3') elephant Color is: 
      div #{color} 
    div.row 
      div(class='elephantAttr mr-3') elephant height is: 
      div #{height} 